@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #5B5B5B;
  --foreground: #171717;
}


html {
  scroll-behavior: smooth;
 }

body {
  color: var(--foreground);
  /* background: var(--background);
   */
   background-image: linear-gradient(to top, #1D1D1D , #5B5B5B);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
