.side {
    background : url("../../public/side.png");
    width: 65px;
    height: 174px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
}

.side2 {
    display: flex;
    justify-content: center;
    margin:20px auto;
    align-items: center;
    background : url("../../public/side2.png");
    width: 65px;
    height: 174px;
    background-repeat: no-repeat;
    background-size: cover;
}